<% content_for :head do %>
<%= stylesheet_link_tag :landing1 %>
<title>Procesos Judiciales | Bienvenido 1</title>
<% end %>
<div class="full-width-image-1">
	<%= render "layouts/logo" %>
	<div class="container">
		<%= render 'layouts/flash' %>
		<div class="row">
			<div class="col-md-7 col-lg-7">
				<br />
				<center>
					<iframe width="560" height="315" src="//www.youtube.com/embed/YtmUOstckPU?rel=0" frameborder="0" allowfullscreen></iframe>
				</center>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h3>¿Quieres saber más?</h3>
				<%= render "usuarios/form" %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4 beneficio">
			<h2>Beneficio 1</h2>
			<p>
				Procesos Judiciales es una aplicación en la nube para abogados que permite llevar la información básica de tus casos y el historial de actuaciones.
			</p>
		</div>
		<div class="col-lg-4 beneficio">
			<h2>Ahorra tiempo</h2>
			<p>
				Procesos Judiciales permite hacerle seguimiento al caso en los juzgados para que no tengas que perder tiempo desplazándote ni esperando en los juzgados.
			</p>
		</div>
		<div class="col-lg-4 beneficio">
			<h2>Recibe notificaciones</h2>
			<p>
				Recibe notificaciones en tu correo electrónico acerca del movimiento de tu procesos como lo son estados, traslados, edictos y recordatorios de audiencias
			</p>
		</div>
	</div>
</div>
