<% content_for :head do %>
<%= stylesheet_link_tag :landing2 %>
<title>Landing Procesos 2</title>
<% end %>
<div class="navbar">
   <div class="navbar-inner">
     <div class="container">
     	<%= image_tag "blanco_alfa_256.png" %>
     </div>
   </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<center>
				<iframe width="462" height="260" src="////www.youtube.com/embed/54pgZ-AMxE4?rel=0" frameborder="0" allowfullscreen></iframe>
			</center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h2>Cansado de ir al juzgado?</h2>
			<p>
				My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
			</p>
			<p> <%= link_to "Registrarse", new_usuario_path, class: "btn btn-default pull-right" %></p>
		</div>
	</div>
</div>