body {
  background: image-url("oficina_desenfocada.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}